div {
}

.image-slider {
  position: relative;

  display: inline-block;
  overflow: hidden;

  height: 40rem;
  width: 60rem;

  border: 10px black solid;
}

.arrow {
  position: absolute;
  top: 50%;
}

.left {
  left: 0;
}

.right {
  right: 0;
}
